.App {
  text-align: center;
}

.produits {
  color:silver;font-size: 50px;background-color:gold ;background-color: aquamarine;
}

.carte {
    display:flex ;justify-content:space-around;
}

.haroun {
    justify-content:space-between;
}

.rafpet {
  display:flex
}

.counter{
  display: inline-flex;
}










/*background:#17923b no-repeat center top;
background:grey no-repeat center top;
color: lightseagreen;
display:flex ;justify-content:space-around;
*/




